<h1> {{ titulo }} </h1>
<h3> La base es: <strong> {{ base }} </strong></h3>

<!-- S4-36 -->
<!-- <button (click) = " numero = numero + 1; "> + 1 </button>
<span> {{ numero}}  </span>
<button (click) = " numero = numero - 1 "> - 1 </button> -->

<!-- S4-37-38 -->
<button (click) = " sumar() "> + 1 </button>
<button (click) = " acumular(+1) "> Acumular + 1 </button>
<button (click) = " acumular(base) "> Acumular la base </button>
<span> {{ numero}}  </span>
<button (click) = " restar() "> - 1 </button>

<br><br><br>
<!-- S4-38 -->
<button (click) = " acumular(base) ">  + 5 </button>
<span> {{ numero}}  </span>
<button (click) = " acumular(-base) ">  - 5 </button>
